@model IEnumerable<CampusServicesApp.Models.Assignment>

@{
    ViewData["Title"] = "Index";
}

<h1>Assignments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Assigned Date</th>
        <th>Assigned By</th>
        <th>Service Request</th>
        <th>Technician</th>
        <th>Actions</th>
    </tr>
</thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedByNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.TrackingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technician.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssignmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssignmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssignmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
