@model IEnumerable<CampusServicesApp.Models.Assignment>

@{
    ViewData["Title"] = "Assignments";
}

<h1>Assignments</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Assignment</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Assigned Date</th>
            <th>Assigned By</th>
            <th>Service Request</th>
            <th>Technician</th>
            <th style="width: 180px;">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedByNavigation.Name)
            </td>
            <td>
                <span class="badge bg-primary">@item.Request.TrackingNumber</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technician.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssignmentId" class="btn btn-sm btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.AssignmentId" class="btn btn-sm btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.AssignmentId" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>