@model CampusServicesApp.Models.StatusHistory

@{
    ViewData["Title"] = "Status History Details";
}

<h1>Status History Details</h1>

<div>
    <h4>Status History</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Old Status</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OldStatus)
        </dd>

        <dt class="col-sm-2">New Status</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewStatus)
        </dd>

        <dt class="col-sm-2">Changed At</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChangedAt)
        </dd>

        <dt class="col-sm-2">Changed By</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChangedByNavigation.Name)
        </dd>

        <dt class="col-sm-2">Service Request</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.TrackingNumber)
        </dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.StatusHistoryId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>