@model IEnumerable<CampusServicesApp.Models.StatusHistory>

@{
    ViewData["Title"] = "Status History";
}

<h1>Status History</h1>

<p>
    <a asp-action="Create">Create New Status Entry</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Old Status</th>
            <th>New Status</th>
            <th>Changed At</th>
            <th>Changed By</th>
            <th>Service Request</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OldStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedByNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.TrackingNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StatusHistoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StatusHistoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StatusHistoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>